<% provide(:title, @kudoer.full_name) %>

<div class="row">
  <aside class="span6">
    <section>
      <h1>
        <%= gravatar_for @kudoer %>
        <%= @kudoer.full_name %> ( <%= @kudoer.email %> )
      </h1>
    </section>
  </aside>
</div>

